#BG{
    position:absolute;
    top:250px;
    left:300px;
    font-size:17px;
    line-height:40px;

}
#DODO{
	position:relative;
    top:-20px;
    left:-100px;
}

#HHH{
	　position:absolute;
     top:-15px;
}
#border1{
	position:relative;
    top:50px;
    left:80px;
}
#border2{
    position:relative;
    top:145px;
    left:80px;
}
#PCW4{
    position:relative;
    top:300px;
    left:-550px;
}
#CG{
    position:absolute;
    top:800px;
    left:300px;
    font-size:17px;
    line-height:40px;

}
#TOTO{
    position:relative;
    top:-20px;
    left:-100px;
}
